.App-root {
  width:410px;
  height: 370px;
  background-color:red;
  margin: 5px;
  float: left;
}

.App-gbID {
  width: 300px;
}

.App-video {
  width: 400px;
  height: 300px;
  background-color: green;
}